[Unit]
Description=Daily Lumina Secret Rotation Check
Requires=secret-rotation-check.service

[Timer]
OnCalendar=*-*-* 08:17:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
